* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;

  padding: 10px 30px 40px 30px;
}

.header {
  flex: 1.5;
  flex-shrink: 0;
}

.header-top,
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 40px;
}

.header-image {
  height: auto;
  width: 300px;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.header-awesome-content {
  display: flex;
  flex-direction: column;
  width: 600px;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
}

button {
  width: 75px;
  height: 30px;
  margin-top: 10px;
  border-color: #3882f6;
}

.header-links {
  display: flex;
  gap: 20px;
}

.header-link,
.header-awesome-content > p,
.header-awesome-content > button,
.cta-section,
.footer {
  font-size: 18p;
  color: #f9faf8;
}

.card-image {
  height: 150px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}

.some-information {
  text-align: center;
  padding: 20px 0px 40px 0px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}

.card-image {
  border: 3px solid #3882f6;
  border-radius: 25px;
}

.image-card > p,
.card-image {
  width: 150px;
}

.header-top > p {
  font-size: 24px;
  color: #f9faf8;
}

.content {
  padding-bottom: 80px;
}

.quotes-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 80px 100px 80px;
  background-color: #e5e7eb;
}

.quote-text {
  font-size: 36px;
  color: #1f2937;
  font-weight: 300;
  font-style: italic;
  padding-bottom: 10px;
}

.quote-author {
  align-self: flex-end;
  font-weight: 900;
}

.cta-section {
  display: flex;
  flex: 0.75;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 100px 200px 100px 200px;
}

.cta-card,
button {
  border-radius: 25px;
  background-color: #3882f6;
  flex-shrink: 0;
}
.cta-card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
  flex: 0.75;
  flex-wrap: 0;
  padding: 50px 40px 50px 40px;
}

.content,
.quotes-section {
  flex: 1;
}

.cta-card > button {
  border: 3px solid #f9faf8;
  color: #f9faf8;
  flex-shrink: 0;
  border-radius: 10px;
}

h3 {
  font-size: 24px;
  padding-bottom: 6px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0.5;
  padding: 40px 0px;
  flex-shrink: 0;
}

.header,
.footer {
  background-color: #1f2937;
}
